@charset "UTF-8";
.custom-select {
  position: relative;
  display: block;
  max-width: 600px;
  min-width: 220px;
  margin: 0 auto;
  border: 2px solid #3C1C78;
  background-color: rgba(255,255,255,0.2);
  z-index: 10;
  opacity:1;
  margin-bottom: 10px;
}
.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 16px;
  color: #714BB9;
}
.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 50px;
  content: "∨";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
  opacity:1;

}
.custom-select option{
 background-color: #CAD6E5;
 outline:none;
 border-color: #8A8A8A #E5E5E5 #E5E5E5 #8A8A8A;
 border-style: solid;
 border-width: 1px;

}
#outercontainer2{
  background-image: url('img/LAbackground.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Arial;
  height:1080px;
}


#outercontainer1 {
  padding-top: 70px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.landingtext{
  color: #3C1C78;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: snow;
}

button {
  float: right;
  left: 50%;
  margin-left: 10px;
  border: 2px solid #3C1C78;
  background-color: rgba(255,255,255,0.3);
  font-size: 20px;
  color: #714BB9;
  padding: 15px;
}
